<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'ajout de membre</title>
</head>
<body>
    <h1>Ajouter un nouveau membres</h1>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ creationMembre }}
            <input type="submit" value="Ajouter">
        </form>

    <button type="submit"><a href="{% url 'list_membres' %}">Retour à la liste des membres</a></button>
    <button type="submit"><a href="{% url 'bibliothecaire_home'%}">Retour au menu</a></button>
</body>
</html>