<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil bibliothecaire</title>
</head>
<body>
    <h1>Bienvenue dans le menu de la bibliothecaire</h1>
    <h2>Ceci est la page d'accueil des bibliothécaires.</h2>

    <section>
        <h3>Membre</h3>
        <button type="submit"><a href="{% url 'list_membres' %}">Liste des membres</a></button>
        <button type="submit"><a href="{% url 'add_membre' %}">Ajouter un membre</a></button>
    </section>

    <section>
        <h3>Média</h3>
        <button type="submit"><a href="{% url 'list_media' %}">Liste des media</a></button>
        <button type="submit"><a href="{% url 'add_media' %}">Ajouter des media</a></button>
    </section>

    <section>
        <h3>Emprunt</h3>
        <button type="submit"><a href="{% url 'list_emprunt' %}">Liste des emprunts</a></button>
        <button type="submit"><a href="{% url 'add_emprunt' %}">Ajouter des emprunts</a></button>
    </section>


    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Se déconnecter</button>
    </form>
</body>
</html>

