<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page retour de média</title>
</head>
<body>
    <h2>Retourner un Média</h2>
    <p>Êtes-vous sûr de vouloir marquer le média suivant comme retourné?</p>
    <p><strong>{{ media.name }}</strong> par {{ media.creator }}</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmer le retour</button>
        <button type="submit"><a href="{% url 'list_emprunt' %}">Annuler</a></button>
    </form>
</body>
</html>